body {
    font-family: 'Archivo', sans-serif;
    font-size:120%;
}
h1,h2,h3 {
    font-family: 'Archivo Black', sans-serif;
}
header {
  margin-top:3em;
}
section {
    width:70%;
    max-width: 40em;
}
figure.right {
    width:30%;
    max-width: 40em;
    float:right;
}
figure img {
    width:100%;
}
/* style nav */
nav {
  position: fixed;
  top:0;
  background-color: #333;
  width:100%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
